.blank_shift_container{
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 20px;
    padding: 5px;
}
.single_product{
    margin-bottom: 3px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ready_product{
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#setDoneBtn{
    width: max-content;
    padding: 1px 5px;
    color: rgb(227, 63, 52);
    text-align: center;
    cursor: pointer;
    font-size: medium;
    /* padding: 2px; */
    border: 1px solid white;
    border-radius: 5px;

}
.controls{
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;
}
.blank_shift_blanks_container span {
    font-size: x-large;
}
.shift_controls {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border-bottom: 1px solid orange; */
    margin-bottom: 5px;
}
.shift_controls span {
    border-radius:10px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.active{
    background-color: rgb(88, 51, 161);
}

.controls img {
    width: 30px;
    height: 30px;
}
.blank_shift_container img {
    padding: 0px 10px;
}
.checked_element{
    background-color: rgb(102, 45, 137);
}
.unchecked_element {
   background-color:rgba(0, 0, 0, 0);
}

.single_blank_container{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    border: 1px solid white;
}
.single_blank_container a {
    color: rgb(253, 60, 60);
}

/* Current SHIFT */
.progress_bar{
    display: flex;
    justify-content: space-between;
}

/* EMPTY SHIFT */

.empty_shift_container{
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 3;
    justify-content: center;
    align-items: center;
}
.empty_shift_container h1 {
    columns: orangered;
}

#EndShift{
   
    color: white;
    border-radius: 5px;
    font-size: 20px;
    /* align-items: center; */
    /* justify-self: center; */
    width: max-content;
    position: fixed;
    top: 80vh;
    right: 25%;
    background: linear-gradient(45deg, rgb(55, 125, 112), rgb(94, 7, 84));
    transition: all 0.6s ease;
    height: 40px;
}

#EndShift:hover {
    background: linear-gradient(45deg, rgb(55, 120, 125), rgb(37, 130, 71));
    transition: all 0.6s ease;
    color: black;
}
#showMore{
    color: rgb(242, 59, 59);
    cursor: pointer;
}

.history_container{

    overflow-y: scroll;
    
}

.blank_shift_container{
    animation: trans 0.4s forwards;
}

@keyframes trans {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.blank_shift_blanks_container{
    animation: trans 0.4s forwards;
}


@keyframes trans {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}