.single_check_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 2;
}
.single_check_list a {
    font-size: large;
}
.ckeck-lists-content{
    font-size: larger;
}
.single_check_list button {
    align-self: center;
    
    justify-content: center;
}

.new_check_list_controls {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.new_check_list_container h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
}
.new_check_list_container input {
    width: 50%;
}
.task_list {
    margin-top: 1rem;
    line-height: 2;
    font-size: larger;
}
@media(max-width:750px) {
   #add_ckeck_list{
    width: max-content;
    margin-bottom: 10px;
   }
   h1 {
    align-items: center;
    margin: 0%;
    padding: 0%;
   }
   .new_check_list_container input {
    width: 100%;
   }
   .new_check_list_container .confirm_button {
    width: 50px;
    padding: 0%;
    min-width: 30px;
    margin-bottom: 10px;
    margin-left:10px;
   }
   .new_check_list_controls {
    align-items: center;
   }
   .new_check_list_controls input {
    width: 100%;
   }
}