.home_page_container{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 2;
    padding: 5px;
}
#userName {
    border: none;
}
.home_page_info{
    padding: 0px 10px 0px 50px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 100px;
    /* background-color:rgb(5, 81, 136);  */
    /* background: linear-gradient(45deg, rgb(37, 18, 61), rgb(113, 27, 145)); */
    background-image: url("../Assets/glasses.png");
    background-size: contain;
    

    
}
.home_page_info h1 {
    padding: 0%;
    margin: 0%;
}
#userName {
    font-size: xx-large;
    color: white;
}

.home_page_info h1 span {
    font-size: 25px;
    color: white;
}
.company_logo {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.main_page_navigation{
    height: calc(70vh - 2rem);
    margin: 0;
    overflow-y: scroll;
    padding: 0%;
}
.home_page_container ul{
    max-height: 443px;
    padding: 20px 10px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    grid-auto-rows: 1fr;
   
}
.home_page_container ul li {
    
    max-height: 180px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    color: black;
    box-shadow: 3px -3px 5px 1px rgb(61, 0, 61);
    font-size: larger;
   
}



.blue{
    /* background-color: rgb(94, 189, 189); */
    background: linear-gradient(45deg, rgb(30, 30, 90), pink);
    /* background-image: url("../Assets/checklist.jpeg"); */
}
.orangered{
    /* background-color: rgba(250, 121, 75, 0.924); */
    background: linear-gradient(45deg, rgb(82, 42, 121), rgb(192, 49, 73));
    /* background-image: url("../Assets/recepts.jpeg"); */
}

.green{
    /* background-color: rgb(73, 194, 105); */
    background: linear-gradient(45deg, rgb(55, 55, 125), rgb(10, 214, 204));
    /* background-image: url("../Assets/rotowap.webp"); */
    background-size: contain;
}

.violet{
    /* background-color: rgb(111, 76, 111); */
    background: linear-gradient(45deg, rgb(30, 30, 90), pink);
    /* background-image: url("../Assets/books.jpeg"); */
}

.darkBlue{
    /* background-color: rgb(88, 88, 201); */
    background: linear-gradient(45deg, rgb(55, 55, 125), rgb(10, 214, 204));

    /* background-image: url("../Assets/sheldue.jpeg"); */
}

.orange{
    /* background-color: rgb(246, 181, 60); */
    background: linear-gradient(45deg, rgb(55, 125, 112), rgb(214, 10, 126));

    /* background-image: url("../Assets/team.jpeg"); */
}

.translate_animation{
    animation: transl 0.4s forwards;
  }
  @keyframes transl {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0%);
    }
  }
  
  