.card_container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow : auto;
    height: calc(100vh - 4rem);
    animation: transl 0.4s forwards;
}
.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card_container h1 {
    color: rgb(62, 85, 154);
}

.calculated_result{
    padding: 10px 0px;
    line-height: 2;
    text-align: left;
}
.controls img {
    padding: 0px 10px;
    width: 30px;
    height: 30px;
}
.card_container button {    
    margin: 10px 0px;
    background: linear-gradient(45deg, rgb(55, 55, 125), rgb(10, 214, 204));
    /* border: 1px solid white; */
    border-radius: 5px;
    color: white;
    height: 40px;
    font-size: 15px;
}


input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
.card_container input {
    -webkit-appearance: none;
    background: linear-gradient(45deg, rgb(55, 55, 125), rgb(214, 10, 190));
    border: 1px solid white;
    border-radius: 5px;
    border: none;
    color: white;
    height: 35px;
    font-size: 15px;
}

  @keyframes transl {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0%);
    }
  }