.search {
    width: 50%;
}
.search_controls{
    display: flex;
    flex-direction: row;
}
.search_controls button {
    margin-left: 5px;
}

.nothing_found{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}