.recepiesContainer {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

}
.recepiesContainer button {
    width: 250px;
}
.recepiesContainerHeader {
    height: 3rem;
}
.recepiesContainer__tittle {
    font-size: 22px;
    padding: 3px;
}
/* No resdults */
.recepiesContainerEmpty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nothinFoundIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}
.addButton {
    align-self: flex-end;

}

/* FRecepies list */
.RecepiesList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 0;
}

.listItem {
    font-size: 23px;
    cursor: pointer;
}

/* Menu */
.recepiesContainerHeader {
    height: max-content;
    padding:10px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(45, 45, 45);
    margin-bottom: 10px;
}

.dotsMenu {
    gap: 4px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dotsMenu__dot {
    width: 6px;
    display: block;
    height: 6px;
    border-radius: 20px;
    color: white;
    background-color: white;
}
.menuOptions {
    animation: appear .5s ease;
  background-color: rgba(54, 54, 54, 0.972);
  border-radius: 5px;
  display: none;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  gap: 10px;
  height: -webkit-max-content;
  height: max-content;
  padding: 20px 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 2;
}
.menuOptions span {
    cursor: pointer;

}
@keyframes appear {
    0% {
        transform: scale(0,0);
    }
    75% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}