.empty_shift_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.current_shift_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    
}
.begin-shift{
    font-size: 30px;
    color: rgb(111, 59, 214);
}
.checked_element{
    background-color: rgb(174, 139, 73);
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    font-size: 22px;
}
.unchecked_element {
    font-size: 22px;
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
}
#empty_history {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    height: 60vh;
    text-align: center;
    justify-content: center;
    text-align: center;
}
.progress_bar{
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    color: rgb(169, 79, 79);
}
.single_product{
    display: flex;
    font-size: larger;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
}
.ready_product{
    display: flex;
    font-size: larger;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
}
#setDoneBtn{
    cursor: pointer;
}
#EndShift{
    align-self: center;
    justify-self: center;
}

@media (max-width : 750px) {
    .current_shift_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .progress_bar {
        width: calc(100% - 20px);
        padding: 0px 10px;
        font-size: 25px;
        margin-bottom: 1rem;
    }
    .single_product {
        width: 100%;
        font-size: 24px;
    }
    .ready_product {
        font-size: 24px;
        width: 100%;
        padding-right: 0px 30px;
    }
    #setDoneBtn {
        align-self: flex-end;
    }

    .products__list li {
        cursor: pointer;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

