.cocktail_card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.cocktail_card {
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 126, 126);
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.spirit_card{
    display: flex;
    flex-direction: row;
    height: 80vh;
    /* justify-content: center;
    align-items: center; */

}
.spirit_card article {
    /* display: flex; */
    /* height: 70vh;

    flex-direction: column; */
    overflow-y: scroll;
}
.cocktail_card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.cocktail_card_container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: scroll;
    
}

.cocktail_card_container figure {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-start;
}

.cocktail_card_container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-textarea {
    width: 100%;
    width: calc(100% - 10px)
}

#cocktail_photo {
    max-width: 300px;
}
@media (max-width:750px) {
    .cocktail_card_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        

    }
    .cocktail_card_container article {
        padding: 5px;
    }
    .cocktail_card {

        background-color: rgb(73, 135, 125);
        border-radius: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        height: 250px;
        padding: 0%;
        margin: 0%;
    }
    .spirit_card{
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
        font-size: large;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .spirit_card article {
        height: 100%;
        overflow-y:visible;
    }   
    .spirit_card figure {
        display: flex;
        height: 100%;
        flex-direction: column;
        margin: 0%;
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
        width : 100%
    }
    .cocktail_card_container figure {
        align-items: center;
        padding: 0%;
        width: 100%;
        display: flex;
        margin: 0px;

        flex-direction: column;
        justify-content: center;

    }
    
    .cocktail_card span {
        display: inline-block;
        max-width: 130px;
        
    }

    #cocktail_photo {
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: contain;
    }
}

@media(max-width:412px) {
    .cocktail_card img {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    .cocktail_card {
        background-color: rgb(73, 135, 125);
        border-radius: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* width: calc(100% - 20px); */
        /* max-width: 170px; */
        height: 250px;
        padding: 0%;
        margin: 0%;
    }
    
} 