.cocktail_card img {
    width: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.cocktail_card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
    height: 300px;
    width: calc(20% - 20px);
    text-align: center;
    font-size: 20px;

    
}
.coctail-card__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.spirit_card{
    display: flex;
    flex-direction: row;
    height: 80vh;

}
.left_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.save_drink {
    width:100%;
}
#cocktail_photo {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    height: 500px;
    border-radius: 20px;
}
.spirit_card article {
    overflow-y: scroll;
}
.cocktail_card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.cocktail_card_container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: scroll;
    
    padding: 10px;
}

.cocktail_card_container figure {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-start;
}

.cocktail_card_container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.description-textarea {
    width: 100%;
    width: calc(100% - 10px)
}
.coctail-card__tittle{
    font-size: 26px;
    padding: 0;
    margin: 0 0 30px 0;
    color: rgb(186, 95, 67);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.composition__item {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.composition__item img {
    width: 50px;
    height: 50px;
}
.coctail-card__info {
    padding: 5px;
    width: 97%;
}
.info__glass {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-bottom: 8px;
}
.info__glass img {
    width: 50px;
    height: 50px;
}
.info__technology {
    margin:0 0 0 10px;
    padding: 0;
    font-size: 20px;
}
.info__category {
    font-size: 20px;
    margin-left: 10px;
}
.info__subtittle {
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-bottom: 8px;
    font-size: 22px;
    padding: 5px 0;
    margin: 0 0 0 10px;
    color: rgb(69, 69, 189);
}
.info__composition {
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-bottom: 8px;
    margin:0 0 0 10px;

    font-size: 20px;
    color: rgb(69, 69, 189);
    
}


@media (max-width:1250px) {
    .cocktail_card  {
        width: calc(33% - 20px);
    }
}
@media (max-width:750px) {
    .cocktail_card_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    .coctail-card__content {
        background:none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .cocktail_card_container article {
        padding: 5px;
    }
    .cocktail_card {
        border: 1px solid rgb(164, 164, 164);
        border-radius: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        height: 250px;
        padding: 0%;
        margin: 0%;
    }
    .coctail-card__tittle {
        margin: 0;
    }
    .coctail-card__info {
        gap: 10px;
    }
    .spirit_card{
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
        font-size: large;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .spirit_card article {
        height: 100%;
        overflow-y:visible;
    }   
    .spirit_card figure {
        display: flex;
        height: 100%;
        flex-direction: column;
        margin: 0%;
        width : 100%
    }
    .cocktail_card_container figure {
        align-items: center;
        padding: 0%;
        width: 100%;
        display: flex;
        margin: 0px;

        flex-direction: column;
        justify-content: center;

    }
    
    .cocktail_card span {
        display: inline-block;
        max-width: 130px;
        overflow: hidden;
        padding: 5px;
    }

    #cocktail_photo {
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: contain;
        border-radius: 0px;
    }
}

@media(max-width:412px) {
    .cocktail_card img {
        width: 100%;
        height: 100%;
        min-height: 190px;
        border-radius: 0px;
        object-fit: cover;
    }
    .cocktail_card {
        border-radius: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: max-content;
        height: max-content;
        padding: 0%;
        margin: 0%;
        max-height: 250px;
    }
    
} 