.main_page_navigation {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main_page_navigation::-webkit-scrollbar {
    display: none;
}

.home_page_container ul {
    height: 30vh;
    /* max-height: 443px; */
    padding: 20px 10px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 1fr;

}

.home_page_info {
    padding: 15px;
}

.home_page_container ul li {
    height: 100%;
    max-height: 180px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.home_page_container ul li:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease;
}

.home_page_container {
    padding: 20px;
}

.home_page_container h2 {
    display: none;
}

.home_page_container h1 {
    font-size: 40px;
    padding: 0%;
    margin: 0%;
}

.home_page_container span {
    font-size: 30px;
}

.main_page_navigation li {
    align-items: center;
}

@media(max-width:750px) {
    header {
        display: none;
    }

    h2 {
        display: none;
    }

    .home_page_container {
        display: flex;

        /* padding-top: 10px; */
        padding: 5px 0 0 0%;
        flex-direction: column;
        justify-content: center;
    }

    .home_page_info {
        margin-bottom: 10px;
        align-self: center;
        display: flex;
        height: 100px;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: calc(100% - 10px);
        font-size: larger;
        background:linear-gradient(45deg, rgb(164, 153, 174), rgb(161, 11, 225));
        border-radius: 10px;
        
    }

    .main_page_navigation {
        width: calc(100% - 20px);

        height: 100%;
        margin: 0;
        overflow-y: scroll;
        padding: 0%;
    }

    .home_page_container ul {
        height: 60vh;
        /* max-height: 443px; */
        padding: 20px 10px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 1fr;

    }

    .home_page_container ul li {
        height: 100%;
        max-height: 180px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        color: black;
        box-shadow: 3px -3px 5px 1px rgb(61, 0, 61);
        font-size: larger;

    }

    .home_page_container li img {
        display: inline;
    }

    .blue {
        /* background-color: rgb(94, 189, 189); */
        /* background: linear-gradient(45deg, rgb(30, 30, 90), pink); */
        /* background-image: url("../Assets/checklist.jpeg"); */
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .orangered {
        /* background-color: rgba(250, 121, 75, 0.924); */
        /* background: linear-gradient(45deg, rgb(82, 42, 121), rgb(192, 49, 73)); */
        /* background-image: url("../Assets/recepts.jpeg"); */
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .green {
        /* background-color: rgb(73, 194, 105); */
        /* background: linear-gradient(45deg, rgb(55, 55, 125), rgb(10, 214, 204)); */
        /* background-image: url("../Assets/rotowap.webp"); */
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-size: contain;
    }

    .violet {
        /* background-color: rgb(111, 76, 111); */
        /* background: linear-gradient(45deg, rgb(30, 30, 90), pink); */
        /* background-image: url("../Assets/books.jpeg"); */
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .darkBlue {
        /* background-color: rgb(88, 88, 201); */
        /* background: linear-gradient(45deg, rgb(55, 55, 125), rgb(10, 214, 204)); */
        border: 1px solid rgba(255, 255, 255, 0.2);
        /* background-image: url("../Assets/sheldue.jpeg"); */
    }

    .orange {
        /* background-color: rgb(246, 181, 60); */
        /* background: linear-gradient(45deg, rgb(55, 125, 112), rgb(214, 10, 126)); */

        /* background-image: url("../Assets/team.jpeg"); */  border: 1px solid rgba(255, 255, 255, 0.2);
    }
}