.login_page_container {
    width: 100%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.logo {
    width: 180px;
    object-fit: cover;
    height: 80px;
}

.errorMessage {
    margin: 20px 0px;
    color: rgb(206, 67, 67);
    font-size: 20px;
}

.spanError {
    color: rgb(206, 67, 67);
    display: inline-block;
    height: max-content;
    padding: 5px;
    font-size: 17px;
}

.show {
    background-color: rgb(68, 51, 160);
    height: 2.5rem;
    width: max-content;
    line-height: 2.1rem;
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 2px;
    display: block;

}

.login-form__tittle {
    margin: 10px 0 20px 0;
}

.login_form {
    padding: 50px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
    border: 1px solid rgb(45, 45, 45);
    box-shadow: 0px 0px 30px 1px rgb(27, 71, 62);

}


#passwordShow {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.input_container {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.create-account-link {
    font-size: 25px;
}

.LoginByEmailAndPassword input {
    height: 2.5rem;
    width: 350px;
    box-sizing: border-box;
    /* max-width: 250px; */
}

#passwordInput {
    width: 90%;
}

#loginButton {
    width: 100%;
}

@media (max-width : 750px) {
    .login_page_container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    .login_form {
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: none;
    }
    .logo {
        width: 180px;
        object-fit: cover;
        height: 80px;
    }

    .login_page_container h1 {
        font-size: x-large;
    }

    .LoginByEmailAndPassword {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    .create-account-link {
        color: rgb(104, 187, 195);
        font-size: 22px;
        width: 150px;
    }

    .login_page_container a {
        width: 5rem;

    }

    #loginButton {
        width: 60%;
        height: 2.5rem;
        font-size: large;
        background-color: rgb(31, 33, 109);
    }

    #loginButton:hover {
        background-color: rgb(204, 204, 204);

    }

    .input_container {

        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .LoginByEmailAndPassword input {
        height: 2.5rem;
        width: 100%;
        /* max-width: 250px; */
    }

    #passwordInput {
        width: 90%;
    }

    #passwordShow {
        width: 30px;
        height: 30px;
        vertical-align: bottom;
    }

    .login_page_container input {
        color: black;
    }
}