
.new_premix_first_step #name {
    width: 50%;
}
.compound_inputs {
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    box-shadow: 0px 0px 3px 5px rgb(0, 22, 35);
    position: relative;
    height: 35vh;
    overflow-y: scroll;
    margin-bottom: 1rem;
}
/* VISIBILITY INPUT */
.visibility-input span {
    font-size: 20px;
}
.visibility-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}
#visibility-input {
    width: 25px;
    height: 25px;
}
.compound_inputs {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.compound_inputs::-webkit-scrollbar {
    display: none;
}

.input_container button {
    animation: scaleUp 0.5s ease;
}

.input_container input {
    margin: 5px 5px 5px 0px;
    overflow: hidden;
    animation: scaleUp 0.5s ease;
    /* transform:scale(0); */
}

@keyframes scaleUp {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}
@media(max-width:750px) {
    .compound_inputs {
        width: 100%;
        border: none;
        box-shadow: none;
        padding: 0%;
    }
    .compound_inputs button {
        width: 20px;
        padding: 0;
    }
    #add_component {
        width: 20px;
        padding: 0%;
        margin: 0%;
    }
    .input_container input {
        
        width: 40%; 
        margin: 5px 5px 5px 0px;
        overflow: hidden;
        animation: scaleUp 0.5s ease;
        /* transform:scale(0); */
    }
  }