.passed_shift_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.history_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
table,tr,td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 22px;
    padding: 5px;
}

.passed_shift_preview_item{
    
    border-radius: 10px;
    box-shadow: 1px -2px 3px 1px rgb(128, 128, 128);
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: calc(100% - 10px);
    line-height: 2;
    height: 250px;
    min-width:200px;
    /* max-width: 300px; */
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.passed_shift_preview_item:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

@media (max-width: 750px) {
    .history_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        gap: 0;
    }
    .passed_shift_preview_item {
        width: calc(50% - 10px);
        min-width: 100px;
        height: 200px;
    }
}