.product_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.description-textarea{
    font-size: 17px;
    width: calc(100% - 10px);
    height: 200px;
}
.editor-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editor__newcomponent-input {
    padding: 10px 5px;
    border-radius: 3px;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.editor__tittle {
    color: rgb(90, 170, 245);
}
.editor__composition {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.card-editor {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editor__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editot__component__delete
{   
    margin-left: 20px;
    background-color: rgb(89, 89, 165);
    padding: 3px;
    border-radius: 5px;
}
.product_card input{
 width: 50%;
}
@media(max-width:750px) {
 .product_card input {
  width: calc(100% - 5px);
 }
}