.product_card__page {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border-top:  1px solid rgb(32, 32, 32);
}
.card__tittle {
    padding: 10px 0 0 10px ;
    margin: 0%;
    border-bottom: 1px solid rgb(32, 32, 32);

}
.card_section {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    border-right: 1px solid rgb(32, 32, 32);
}
.list {
    padding: 10px;
    width: 50%;
}
.product_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;

}
.description-textarea{
    font-size: 17px;
    width: calc(100% - 10px);
    height: 200px;
}
.editor-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* EDITOR */
.editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.editor__desctiption-textarea {
    border: none;
    height: 100px;
    border-radius: 20px;
    /* background: linear-gradient(45deg, rgb(51, 51, 93), rgb(114, 181, 163)); */
}
.editor__desctiption-textarea:active {
    border: none;
    
}
.editor__composition li {
    font-size: 22px;
}
.product-card__calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-card__calculator input {
    width: 100%;
    box-sizing: border-box;
}
.editor__newcomponent-input {
    padding: 10px 5px;
    border-radius: 3px;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: max-content;
    border-radius: 5px;
}
.calculated_result {
    font-size: 22px;
    line-height: 2rem;
    gap: 7px;
}
.editor__tittle {
    color: rgb(90, 170, 245);
}
.editor__composition {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.card-editor {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editor__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editot__component__delete
{   
    margin-left: 20px;
    background-color: rgb(89, 89, 165);
    padding: 3px;
    border-radius: 5px;
}

/* Product card mobile layout */
@media(max-width:850px) {
    .editor__newcomponent-input {
        width: calc(100% - 10px);
    }
    .card_section {
        width: 100%;
        border: none;
    }
    .editor {
        padding: 0;
    }
}

@media(max-width:750px) {
 .product_card input {
  width: calc(100% - 5px);
 }
}