.priductListPAge{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.search{
   width: 99%;
}
.product_list_navigation{
    padding: 5px 0%;
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.product_list_navigation img {
    width: 30px;
    height: 30px;
    padding: 0% 10px;
}
#back {
    position: fixed;
    top: 7px;
    left: 2px;
    width: 31px;
    height: 31px;
  
}
.nothing_found{
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.emtyIcon{
    width: 120px;
    height: 120px;
}
.element{   
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    line-height: 2;
    justify-content:space;
}

.checkBox {
    display: flex;
    justify-self: flex-end;
    
}

