.second_step_container{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.second_step_container h2 {
    margin-top: 2rem;
}
.second_step_container textarea{
    height: 60vh;

}
.second_step_container button {
    margin-top: 1rem;
}
.second_step_container img {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    
}